.create {
  max-width: 1200px;
  margin: 30px auto;
}
.create .page-title {
  color: #555;
}
.create form {
  max-width: 50%;
  margin: auto;
}
.create form input {
  border: none;
  outline: none;
  margin: 20px 0;
}
.btn {
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  background-color: #58249c;
}
