.create {
  max-width: 1200px;
  margin: 0px auto;
}
.create .page-title {
  color: #555;
  margin: 10px auto;
}
.create form {
  max-width: 50%;
  margin: auto;
}
.create form label {
  display: block;
}
.create form input {
  border: none;
  outline: none;
  margin: 20px 0;
  font-size: 15px;
}
.btn {
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
  background-color: #58249c;
  margin-top: 20px;
}
.ingredient {
  background-color: #fff;
  padding: 7px 10px;
  margin: 0 5px;
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
}

/* Dark mode */

.create.dark form input {
  background-color: #555;
  color: #e4e4e4;
}

.create.dark form label {
  color: lightgray;
}
.create.dark form label div span {
  color: #333;
}
