.theme-selector {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* max-width: 1200px; */
}
.theme-selector .toggle-mode {
  margin-right: auto;
}
.theme-selector .toggle-mode img {
  cursor: pointer;
}
.theme-selector .theme-buttons {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  align-self: flex-end;
  width: 100px;
}
.swatch {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  cursor: pointer;
}
